.bottom-layer {
  --top: top;
  --left: left;
  --bottom: bottom;
  --right: right;

  --width: right;
  --height: bottom;

  width: 100%;
  height: 100%;
  overflow: hidden;

  background-color: rgb(var(--color-bg));
  color: rgb(var(--color-fg));
}

.gradient-layer {
  width: 100%;
  height: 100%;
  overflow: hidden;

  background: radial-gradient(
      circle at var(--top) var(--left),
      var(--circle-0),
      transparent max(var(--width), var(--height))
    ),
    radial-gradient(
      circle at var(--bottom) var(--right),
      var(--circle-1),
      transparent max(var(--width), var(--height))
    );
}

.top-layer {
  width: 100%;
  height: 100%;

  color: rgba(var(--color-fg));
  background-color: rgba(var(--color-bg), var(--level-bg));
}
