* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



:root {
  --fixed-layer: 0;
  --normal-layer: 10;
  --top-layer: 100;
  --border-radius: 4px;

  --circle-0: dodgerblue;
  --circle-1: crimson;

  --color-fg: 0, 0, 0;
  --color-bg: 255, 255, 255;

  --level-bg: 0.64;
  --level-0: 0.08;
  --level-1: 0.16;
  --level-2: 0.24;
  --level-3: 0.32;
  --level-4: 0.40;

  --font-size: 14px;
  --font-default: 'Inter', sans-serif;
  --font-monospace: 'JetBrains Mono', monospace;
}



@media (prefers-color-scheme: dark) {
  :root {
    --color-fg: 255, 255, 255;
    --color-bg: 0, 0, 0;
  }
}



::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(var(--color-fg), var(--level-0));
  border-radius: 999px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(var(--color-fg), var(--level-1));
}



.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.display-none {
  display: none;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}



button, .button-like {
  background-color: rgba(var(--color-fg), var(--level-0));
  color: rgba(var(--color-fg));
  border: unset;
  padding: 8px;
  border-radius: var(--border-radius);
  outline: 0 solid rgba(var(--color-fg), 0);

  transition: background-color 250ms, outline-color 250ms, opacity 250ms;
}

button[disabled], .button-like[disabled], .button-like[data-disabled] {
  opacity: 0.64;
  transition: opacity 250ms;
}

button:focus, .button-like:focus {
  outline-color: rgba(var(--color-fg), var(--level-2));
  outline-width: 2px;

  transition: outline-color-color 0ms;
}

button:not([disabled]):hover, .button-like:not([disabled], [data-disabled]):hover {
  background-color: rgba(var(--color-fg), var(--level-1));
  cursor: pointer;

  transition: background-color 0ms;
}

button.icon {
  aspect-ratio: 1/1;
}



.dropdown {
  position: relative;
}

.dropdown .menu {
  display: none;
  position: absolute;
  padding-bottom: 8px;
  bottom: 100%;
  right: 0;
}

.dropdown:hover .menu {
  display: block;
}

.dropdown .menu .menu-wrapper {
  display: flex;
  background-color: rgba(var(--color-fg), var(--level-0));
  backdrop-filter: blur(0.5em);
  padding: 8px;
  gap: 8px;
  border-radius: var(--border-radius);
}



.controls .dropdown .menu-wrapper {
  width: calc(44px + 8px + 44px);
  justify-content: space-between;
  gap: 20px;
}

.controls .dropdown .menu-wrapper .selectors {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin: 8px;
}

.controls .dropdown .menu-wrapper .selectors svg:hover {
  cursor: help;
}

.controls .dropdown .menu-wrapper .selectors .bar.vertical {
  width: 0.5em;
  height: 80px;
  min-height: unset;
  min-width: unset;
}



html {
  background-color: rgba(var(--color-bg));
  color: rgba(var(--color-fg));
}

body {
  width: 100vw;
  height: 100vh;

  overflow: hidden;
  font-family: var(--font-default);

  user-select: none;
  font-size: var(--font-size);
}

dialog {
  user-select: none;
}

#root {
    width: 100vw;
    height: 100vh;

    overflow: hidden;
}



#main {
  z-index: var(--normal-layer);
  overflow: hidden;
  display: grid;
  grid-template-columns: 64px 320px 1fr;
}

.scene {
  width: 100%;
  height: 100%;

  color: inherit;
}

.main > * {
  overflow: auto;
}

.main * {
  z-index: inherit;
}



nav {
  background-color: rgba(var(--color-fg), var(--level-1));
  display: flex;
  flex-direction: column;
  padding: 8px;
  gap: 8px;
}

nav > .icon {
  display: grid;
  place-items: center;
  width: 100%;
  aspect-ratio: 1/1;
  background-color: rgba(var(--color-fg), var(--level-0));
  border-radius: var(--border-radius);

  transition: background-color 250ms;
}

nav > .icon:hover {
  background-color: rgba(var(--color-fg), var(--level-1));
  cursor: pointer;

  transition: background-color 0ms;
}

nav > div.icon {
  display: grid;
  place-items: center;
}



.side-pane {
  background-color: rgba(var(--color-fg), var(--level-0));
  overflow: hidden;
  scroll-behavior: smooth;
}

.side-pane > * {
  height: 100vh;
  width: 100%;
}



main {
  background-color: rgba(var(--color-fg), 0);
}