.bar {
  --fill-per: 0%;

  min-height: 6px;
  min-width: 100%;
  position: relative;

  transition: opacity 250ms;
}

.bar.vertical {
  min-height: 100%;
  min-width: 6px;
}

.bar[data-disabled] {
  opacity: 0.7;

  transition: opacity 250ms;
}

.filling-container {
  width: 100%;
  height: 100%;
  border-radius: var(--rounded-sm);
  background-color: var(--text-400);
  overflow: hidden;
}

.vertical .filling-container {
  display: flex;
  align-items: flex-end;
}

.bar .filling {
  background-color: var(--text-900);
}

.bar:not(.editable) .filling {
  transition: width 150ms linear;
}

.bar:not(.vertical) .filling {
  min-height: 6px;
  width: var(--fill-per);
}

.bar.vertical .filling {
  min-width: 6px;
  height: var(--fill-per);
}

.bar.editable .handle {
  width: 16px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: var(--text-900);
  position: absolute;
}

.bar.editable:not(.vertical) .handle {
  translate: -50% -50%;
  top: 50%;
  left: var(--fill-per);
}

.bar.editable.vertical .handle {
  translate: -50% 50%;
  left: 50%;
  bottom: var(--fill-per);
}
