.song-item-hint {
  min-height: 80px;
  width: 100%;
  display: grid;
  grid-template-columns: 80px 1fr;
  gap: 4px;
  overflow: hidden;
  border-radius: var(--border-radius);
  background-color: rgba(var(--color-fg), var(--level-0));
}

.song-item-hint .image {
  height: 72px;
  margin: 4px;
  aspect-ratio: 1/1;
  border-radius: var(--border-radius);
  place-self: center;
  background-color: rgba(var(--color-fg), var(--level-0));
}

.song-item-hint .column {
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: 8px;
}

.song-item-hint .column > div {
  border-radius: var(--border-radius);
  background-color: rgba(var(--color-fg), var(--level-0));
}

.song-item-hint .column .heading {
  height: 1.5em;
  width: 70%;
}

.song-item-hint .column .text {
  height: 1em;
  width: 40%;
}
