.song-item {
  position: relative;
}

.song-menu {
  --x: 0px;
  --y: 0px;
  position: fixed;
  z-index: var(--top-layer);
  border-radius: var(--border-radius);
  overflow: hidden;
  left: var(--x);
  top: var(--y);
  outline: 2px solid rgba(var(--color-fg), var(--level-0));
}

.song-menu-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px;
}