.song-view .list .song-item {
  min-height: 80px;
  width: 100%;
}

.song-item .song-item-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 80px 1fr;
  gap: 4px;
  overflow: hidden;
  font-size: 0.85em;
  border-radius: var(--border-radius);

  transition: background-color 250ms;
}

.list:not(.drag-inside) .song-item .song-item-container:hover,
.song-item.selected .song-item-container,
[data-dragged] .song-item-container {
  background-color: rgba(var(--color-fg), var(--level-0));

  transition: background-color 0ms;
}

.song-view .list .song-item .column {
  display: flex;
  flex-direction: column;
  align-self: center;
}