.song-view .list .song-item .song-image {
  height: 72px;
  margin: 4px;
  aspect-ratio: 1/1;
  border-radius: var(--border-radius);
  place-self: center;
  background-size: 200px;
  background-position: center;
  transform: translateZ(0);

  transition: background-size 250ms linear;
}

.song-view .list:not(.drag-inside) .song-item:hover .song-image,
.song-view .list .song-item.selected .song-image {
  background-size: 240px;

  transition: background-size 50ms linear;
}



.song-detail .song-image {
  width: 100%;
  border-radius: var(--border-radius);
  aspect-ratio: 1/1;
  background-position: center;
  background-size: cover;
}