#dir-select {
  display: grid;
  place-items: center;
}

#dir-select > * {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

#dir-select code.empty {
  color: rgba(var(--color-fg), var(--level-3));
}

#dir-select .row {
  gap: 8px;
}