#error {
  gap: 8px;
}

#error h3 {
  background-color: rgba(220, 20, 60, var(--level-4));
  padding: 10px 16px;
  border-radius: var(--border-radius);
}

#error h3.no-bg {
  background-color: transparent;
}