.song-detail {
  --padding: 52px;

  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--padding);
  max-width: calc(660px + var(--padding) * 2);
  width: 100%;

  .song-detail__song-bg {
    margin-top: auto;
    margin-bottom: auto;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.32);

    .song-image {
      width: 340px;
      height: 340px;
      background-size: cover;
      background-position: center;
      border-radius: var(--rounded-lg);
    }
  }

  .song-detail__texts {
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding-bottom: 24px;

    .song-detail__title {
      font-size: 24px;
      font-weight: bold;
    }

    .song-detail__artist {
      font-size: 16px;
      color: var(--text-700);
    }
  }

  .song-detail__bottom-part {
    width: 100%;

    .song-detail__time {
      padding-top: 6px;
      display: flex;
      justify-content: space-between;
      font-size: 12px;
    }

    .song-controls {
      padding-top: 4px;
      display: flex;
      align-items: center;
      gap: 32px;
      justify-content: space-between;
      color: var(--text-700);

      .song-controls__middle {
        display: flex;
        align-items: center;
        gap: 24px;
      }

      .song-controls__toggle-play {
        width: 44px;
        height: 44px;
        display: flex;
        font-size: 24px;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background: var(--button-primary-background-color);
        color: var(--button-primary-color);
        transition: background 0.2s ease;

        &:hover {
          background: var(--button-primary-background-color-hover);
        }
      }

      .song-controls__left-part {
        display: flex;
        align-items: center;
        flex: 1;

        .song-controls__volume-bar {
          padding-left: 12px;
          width: 100%;
          max-width: 100px;
          flex: 1;
        }
      }

      .song-controls__right-part {
        display: flex;
        justify-content: flex-end;
        flex: 1;
      }
    }
  }
}
