.main-scene {
  display: grid;
  &.windows-grid {
    padding-top: 8px;
    grid-template-areas:
      "nav     nav"
      "sidebar song";
    grid-template-columns: auto 1fr;
    grid-template-rows: 50px calc(100vh - 58px);
  }

  &.mac-grid {
    grid-template-areas:
      "nav     song"
      "sidebar song";
    grid-template-columns: auto 1fr;
    grid-template-rows: 64px calc(100vh - 64px);
  }

  .nav {
    grid-area: nav;
    -webkit-app-region: drag;
  }
  .song {
    grid-area: song;
  }
  .sidebar {
    grid-area: sidebar;
  }
}
