.main-scene {
  .nav {
    display: flex;
    align-items: center;
    height: 52px;
    padding: 0px 20px;
    background: var(--contrast-background);
    gap: 4px;
    -webkit-app-region: drag;

    .nav-window-controls {
      height: 100%;
      display: flex;
      -webkit-app-region: no-drag;
      padding-left: 5px;
    }

    .nav-window-control {
      width: 45px;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .nav-window-control:hover {
      background: var(--hover-background);
    }

    .nav-window-control.close:hover {
      background: hsl(0, 69%, 50%);
    }

    .nav-item {
      display: flex;
      align-items: center;
      gap: 16px;
      padding: 4px 16px;
      border-radius: var(--rounded-sm);
      -webkit-app-region: no-drag;

      &:is(:hover, :focus) {
        background: var(--hover-background);
      }

      &[data-selected="true"] {
        background: var(--background);

        .nav-item__icon {
          color: var(--text-900);
        }

        .nav-item__text {
          color: var(--on-background);
        }
      }

      .nav-item__icon {
        color: var(--text-600);
      }

      .nav-item__text {
        font-size: 16px;
        font-weight: 600;
        color: var(--text-600);
      }

      &.active {
        background: var(--background);
      }
    }

    .nav__queue {
      margin-left: auto;

      color: var(--text-700);

      &[data-active="true"] {
        color: var(--text-900);
      }

      -webkit-app-region: no-drag;
    }
  }
}
