.default-layout {
  height: 100vh;
  overflow: none;
  display: flex;
  flex-direction: column;

  .default-layout__bg-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none;
    opacity: 0.06;
    filter: blur(20px);

    .song-image {
      width: 100%;
      height: 100%;
      background-size: cover;
    }
  }

  .default-layout__main {
    position: relative;
    height: calc(100vh - 52px);
    display: flex;

    .tab-content {
      overflow-y: auto;
      width: 480px;
      min-width: 320px;
      height: 100%;
      background-color: rgba(var(--background-rgb), 0.72);
      border-right: 1px solid var(--separator);
    }

    .default-layout__song-detail {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .queue-modal {
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      height: 100%;
      overflow-y: auto;
      width: 480px;
      background: linear-gradient(180deg, #000 26%, rgba(24, 24, 27, 0.72) 100%);
      border-left: 1px solid var(--separator);
    }
  }

  .nav {
    display: flex;
    align-items: center;
    height: 52px;
    padding: 0px 20px;
    background: var(--contrast-background);
    gap: 4px;

    .nav-item {
      display: flex;
      align-items: center;
      gap: 16px;
      padding: 4px 16px;
      border-radius: var(--rounded-sm);

      &:is(:hover, :focus) {
        background: var(--hover-background);
      }

      &[data-selected="true"] {
        background: var(--background);

        .nav-item__icon {
          color: var(--text-900);
        }

        .nav-item__text {
          color: var(--on-background);
        }
      }

      .nav-item__icon {
        color: var(--text-600);
      }

      .nav-item__text {
        font-size: 16px;
        font-weight: 600;
        color: var(--text-600);
      }

      &.active {
        background: var(--background);
      }
    }

    .nav__queue {
      margin-left: auto;

      color: var(--text-700);

      &[data-active="true"] {
        color: var(--text-900);
      }
    }
  }
}
