@tailwind base;
@tailwind components;
@tailwind utilities;

/* Light theme */
/* :root {
  --color-thick-material: 240, 240, 240;
  --color-regular-material: 230, 230, 230;
  --color-text: 26, 26, 26;
  --color-subtext: 26, 26, 26;
  --color-stroke: 0, 0, 0;
  --color-overlay: 200, 200, 200;
  --color-surface: 180, 180, 180;
  --color-black: 255, 255, 255;
  --color-red: 211, 47, 47;
  --color-green: 56, 142, 60;
  --color-thin-material: 255, 255, 255;
} */

/* @media (prefers-color-scheme: dark) { */
:root {
  /* Dark theme */
  --color-thick-material: 13, 13, 13;
  --color-regular-material: 23, 23, 23;
  --color-thin-material: 0, 0, 0;
  --color-text: 239, 241, 245;
  --color-subtext: 200, 200, 200;
  /* subtext: rgba(119, 121, 130, 1) */
  --color-stroke: 242, 244, 252;
  --color-overlay: 119, 121, 122;
  --color-surface: 132, 137, 143;
  --color-black: 0, 0, 0;
  --color-red: 237, 102, 102;
  --color-green: 120, 204, 50;
}

/* } */

@font-face {
  font-family: "Nunito";
  src:
    url("./assets/fonts/Nunito-Regular.ttf") format("truetype"),
    url("/path/to/fonts/Nunito-Bold.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Nunito";
  src: url("./assets/fonts/Nunito-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Nunito";
  src: url("./assets/fonts/Nunito-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Nunito";
  src: url("./assets/fonts/Nunito-Black.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: rgba(var(--color-thick-material));
  color: rgb(var(--color-text));

  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
}

button {
  all: unset;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(var(--color-surface), 0.5);
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(var(--color-surface), 0.7);
}
