@font-face {
  font-family: "Nunito";
  src: url("./assets/fonts/Nunito-Regular.ttf") format("truetype"),
    url("/path/to/fonts/Nunito-Bold.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Nunito";
  src: url("./assets/fonts/Nunito-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Nunito";
  src: url("./assets/fonts/Nunito-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Nunito";
  src: url("./assets/fonts/Nunito-Black.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Typography */
  --font-size: 16px;

  /* Colors */
  --background: #18181b;
  --background-rgb: 24, 24, 27;
  --on-background: #ffffff;
  --contrast-background: #000000;
  --separator: #27272a;
  --hover-background: rgba(255, 255, 255, 0.092);

  --text-50: rgba(255, 255, 255, 0.1);
  --text-900: rgba(255, 255, 255, 0.92);
  --text-800: rgba(255, 255, 255, 0.82);
  --text-700: rgba(255, 255, 255, 0.72);
  --text-600: rgba(255, 255, 255, 0.62);
  --text-400: rgba(255, 255, 255, 0.42);
  --text-300: rgba(255, 255, 255, 0.32);

  /* Border */
  --rounded-sm: 4px;
  --rounded: 8px;
  --rounded-lg: 12px;
}

body {
  overflow: hidden;
}

html {
  background: var(--background);
  color: var(--on-background);

  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
}

button {
  all: unset;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: var(--text-300);
  border-radius: 999px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--text-400);
}
