.playlist-song-list {
  margin: 24px 20px;
  .playlist-song-list__top {
    width: 100%;
    margin-bottom: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .playlist-song-list__top__left {
      display: flex;
      flex-direction: row;
      align-items: center;
      font-size: 20px;
      line-height: 24px;
      font-weight: 500;
      gap: 20px;

      .icon-button {
        font-size: 20px;
        color: #eff1f599;
      }
    }

    .playlist-song-list__top__right {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #f2f4fc1a;
      color: #eff1f5;
      width: 40px;
      height: 40px;
      border-radius: 8px;

      .icon-button {
        font-size: 20px;
      }
    }
  }

  .playlist-song-list__list {
    .list {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }
  }
}
