.notice-wrapper {
  overflow: hidden;
  border-radius: var(--border-radius);
}



.notice {
  background-color: rgba(var(--color-fg), var(--level-0));
  width: 100%;
  height: 100%;
}

.notice.warning {
  background-color: oklch(70% 0.15 55 / var(--level-0));
}

.notice.error {
  background-color: oklch(70% 0.15 20 / var(--level-0));
}



.notice .content {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.notice .content .head {
  display: flex;
  gap: 8px;
  justify-content: space-between;
}



.notice .timeout {
  height: 8px;
  width: 100%;
  background-color: rgba(var(--color-fg), var(--level-3));
}

.notice.warning .timeout {
  background-color: oklch(70% 0.15 55 / var(--level-3));
}

.notice.error .timeout {
  background-color: oklch(70% 0.15 20 / var(--level-3));
}

.notice .timeout.pause {
  animation-play-state: paused;
}

@keyframes drain-time {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}