.search {
  display: flex;
  flex-direction: column;
  padding-top: 16px;
  gap: 8px;
}

.search > *:not(.no-pd) {
  padding: 0 16px;
}

.search div.row {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: space-between;
}



.search .tags {
  width: 30px;
  padding: 4px;
  aspect-ratio: 1/1;
  display: grid;
  place-content: center;
}


.search .error-inline {
  background-color: lch(25% 70 0);
  color: white !important;
  padding: 0 2px;
}

.search .error-container {
  padding: 8px 16px;
  background-color: lch(25% 70 0);
  color: white !important;
}

.search .error-container button {
  background: transparent;
  border: unset;
  padding: unset;
  color: #ccc !important;
  font-weight: lighter;
}

.search .error-container button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.search .error-container button:focus {
  outline: unset;
}