.search-field {
  width: 100%;
  padding: 8px;
  display: flex;
  align-items: center;
  gap: 8px;
  overflow: hidden;
}

.search-field:hover {
  cursor: text !important;
}

.search-field:focus-within {
  outline-color: rgba(var(--color-fg), var(--level-2));
  outline-width: 2px;

  transition: outline-color-color 0ms;
}



.search-field > svg {
  width: 20px;
  aspect-ratio: 1/1;
}

.search-field > button.icon {
  display: grid;
  place-items: center;
  margin-right: 4px;
  padding: unset !important;
  background-color: transparent;
}

.search-field > button.icon:hover {
  background-color: transparent;
  cursor: pointer;
}

.search-field > button.icon:focus {
  outline: unset;
}

.search-field .editable {
  flex: 1;
  overflow: hidden;
  white-space: nowrap;
}

.search-field .editable:focus {
  outline: unset;
}