.tag-select {
  margin: auto !important;
  background-color: transparent;
  border: unset;
  border-radius: var(--border-radius);
  overflow: hidden;
  width: max(32vw, 300px);
  outline: 2px solid rgba(var(--color-fg), var(--level-0));
}

.tag-select .tag-select-container {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.tag-select .tags-container {
  min-height: 2em;
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.tag-select .hint {
  font-size: 0.8em;
}