.dropdown-list {
  display: flex;
  flex-direction: column;
  background-color: var(--background);
  padding: 12px 16px;
  width: 400px;
  border-radius: var(--rounded);
  border: 1px solid var(--separator);
}

.dropdown-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px 12px;
  border-radius: var(--rounded-sm);

  .dropdown-list-item_icon {
    display: none;
  }

  &[data-selected="true"] {
    background-color: rgba(255, 255, 255, 0.08);

    .dropdown-list-item_icon {
      display: initial;
      color: var(--text-600);
    }
  }

  &[data-selected="false"] {
    &:is(:hover, :focus) {
      background-color: rgba(255, 255, 255, 0.04);
    }
  }
}

.dropdown-trigger {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 4px 14px 4px 12px;
  border: 1px solid var(--separator);
  border-radius: 999px;

  .dropdown-trigger__icon {
    color: var(--text-400);
    font-size: 20px;
  }

  .dropdown-trigger__text {
    font-size: 14px;
    line-height: 18px;
  }

  &:is(:hover, :focus) {
    background: var(--hover-background);
  }
}

.dropdown-select-trigger {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  padding: 10px 16px;
  border-radius: var(--rounded);
  background: var(--surface);

  .dropdown-trigger__icon {
    color: var(--text-400);
    font-size: 20px;
  }

  .dropdown-trigger__text {
    font-size: 16px;
    line-height: 24px;
  }

  &:is(:hover, :focus) {
    background: var(--hover-background);
  }
}
