.loading-scene {
  height: 100vh;
  display: flex;
  gap: 8px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 32px;
  background-image: url("../../assets/dir-select-bg.png");
  background-size: cover;
  background-repeat: no-repeat;

  .loading-scene__title {
    padding-bottom: 40px;
  }

  .loading-scene__bar {
    display: block;

    .loading-scene__loader-track {
      display: block;
      height: 12px;
      width: 420px;
      background-color: rgba(0, 0, 0, 0.32);
      border-radius: 4px;
      overflow: hidden;

      .loading-scene__loader-range {
        display: block;
        height: 100%;
        background-color: white;
      }
    }
  }

  .loading-scene__hint {
    color: var(--text-500);
  }
}
