.loading-scene {
  height: 100vh;
  display: flex;
  gap: 8px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 32px;

  .loading-scene__title {
    padding-bottom: 40px;
  }

  .loading-scene__bar {
    height: 12px;
    width: 100%;
    max-width: 420px;
  }

  .loading-scene__hint {
    color: var(--text-500);
  }
}
