.settings {
  padding: 32px 20px;
  display: flex;
  flex-direction: column;
  gap: 40px;

  .settings-section {
    display: flex;
    flex-direction: column;
    gap: 24px;

    .settings-section__upper-part {
      display: flex;
      gap: 12px;
      align-items: center;

      .settings-section__upper-part-icon {
        color: var(--text-400);
      }

      .settings-section__upper-part-title {
        font-size: 16px;
        line-height: 24px;
      }
    }
  }

  .setting {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .setting__label {
      font-size: 14px;
      font-weight: 600;
      color: var(--text-800);
    }
  }

  .global-volume-setting {
    display: flex;
    align-items: center;
    gap: 12px;

    .global-volume-setting__icon {
      width: 16px;
      height: 16px;
      font-size: 16px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .global-volume-setting__bar {
      width: 100%;
      flex: 1;
    }
  }
}
