.song-list-search {
  padding: 32px 0px 4px;
  position: sticky;
  top: 0px;
  z-index: 3;
  background-color: rgba(var(--background-rgb), 0.94);
  backdrop-filter: blur(8px);
  padding-inline: 20px;

  .song-list-search__input-container {
    display: flex;

    .song-list-search__input {
      all: unset;
      width: 100%;
      height: 24px;
      padding: 8px;
      margin: -8px;
    }

    .song-list-search__icon-container {
      color: var(--text-600);
      display: flex;
      align-items: center;
      justify-content: center;
      width: 24px;
      height: 24px;
    }
  }

  .song-list-search__filters {
    display: flex;
    gap: 10px;
    padding-top: 16px;
  }
}
