.song-item {
  position: relative;
  isolation: isolate;
  user-select: none;
  transition: transform 0.3s ease-in-out; /* Add smooth transition */

  &[data-active="true"] {
    transform: translateX(10px); /* Apply the pop-out effect when selected */

    .song-item__container {
      background: linear-gradient(to right, rgba(0, 0, 0, 0.52) 24%, rgba(0, 0, 0, 0.16));
      outline: 1px solid #79d9d9;
    }

    .song-image {
      opacity: 1;
    }
  }

  .song-item__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2px;
    min-height: 90px;
    padding: 12px 20px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.92) 24%, rgba(0, 0, 0, 0.16));
    overflow: hidden;
    border-radius: 6px;

    .song-item__title {
      font-size: 22px;
      text-shadow: rgba(0, 0, 0, 0.62) 0px 1px 3px;
      font-weight: 800;
    }

    .song-item__artist {
      font-size: 16px;
      color: var(--text-800);
    }
  }

  .song-image {
    position: absolute;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
    border-radius: var(--rounded);
    opacity: 0.82;
  }

  &:hover {
    transform: translateX(10px); /* Move slightly to the right on hover */

    &::after {
      background: var(--hover-background);
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    border-radius: var(--rounded);
  }
}