.playlist-create {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  margin-left: 20px;
  margin-right: 20px;
  .playlist-create__top {
    margin-top: 24px;
    .playlist-create__top__header {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 20px;
      font-size: 20px;
      color: #eff1f5;

      i {
        color: #eff1f599;
      }
    }

    .playlist-create__top__body {
      display: flex;
      flex-direction: column;
      margin-top: 24px;
      gap: 8px;
      color: #ffffffd1;

      input {
        height: 44px;
        border-radius: 8px;
        background-color: #84898f33;
        border: none;
        color: #ffffff;
        padding: 10px 16px 10px 16px;
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
        font-family: inherit;
      }
    }
  }

  .playlist-create__footer {
    button {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin-bottom: 24px;
      height: 42px;
      background-color: #ffffffeb;
      color: black;
      font-weight: 600;
      border-radius: 8px;
    }

    /* button:hover {
      cursor: pointer;
    } */
  }
}

.playlist-create-box {
  background-color: #0d0d0df2;
  border-radius: 12px;
  margin-bottom: 24px;

  .playlist-create-box__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px;

    button {
      font-size: 20px;
    }
  }

  .playlist-create-box__body {
    display: flex;
    flex-direction: row;
    margin: 16px;
    margin-top: 0px;

    .playlist-create-box__body__image {
      border-radius: 8px;
      margin-right: 16px;
      .song-image {
        width: 83px;
        height: 83px;
        background-size: cover;
        background-position: center;
        border-radius: 8px;
      }
    }

    .playlist-create-box__body__input {
      display: flex;
      flex-direction: column;
      gap: 12px;
      width: 100%;

      input {
        height: 36px;
        border-radius: 8px;
        background-color: #84898f33;
        border: none;
        color: #ffffff;
        padding: 10px 0px 10px 16px;
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
        font-family: inherit;
        width: 100%;
      }

      button {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-bottom: 24px;
        height: 36px;
        background-color: #ffffffeb;
        color: black;
        font-weight: 600;
        border-radius: 8px;
      }
    }
  }
}
