.playlist-item {
  --image-size: 71px;

  .playlist-item-container {
    display: flex;
    flex-direction: row;
    gap: 16px;

    .playlist-item__playlist-img {
      /* margin: auto 6px auto 6px; */
      border-radius: var(--rounded-lg);
      .song-image {
        width: var(--image-size);
        height: var(--image-size);
        background-size: cover;
        background-position: center;
        border-radius: 8px;
      }
    }

    .playlist-item__playlist-info {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-left: 6px;
      justify-content: space-between;
      width: 100%;

      .playlist-item__playlist-info__text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-weight: 500;
        line-height: 24px;
        font-size: 16px;
        color: #eff1f5;
      }

      .playlist-item__playlist-info__text h3 {
        font-size: 30px;
        line-height: 30px;
        font-weight: 700;
      }

      .playlist-item__playlist-info__button {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 40px;
        width: 40px;
        color: #eff1f5;
        border: 1px solid #f2f4fc1a;
        border-radius: 8px;
        z-index: 3;

        .icon-button {
          border-radius: 8px;
          &[data-open="true"] {
            background-color: #ffffffeb;
            color: #0d0d0df2;
          }
        }
      }
    }
  }
}
